#exportPattern("^[[:alpha:]]+")
importFrom("graphics", plot)
#importFrom("graphics", lines)


export("adj.rand.index",
	"dbs",
    #"dbs.pdfCluster",
    "h.norm",
	"hprop2f",
	"kepdf",
   	"pdfClassification",
    #"pdfCluster.data",
	#"pdfCluster.graphpairs",
	"plot.dbs",
    "plot.kepdf",
	#"plot.kepdf1d",
	#"plot.kepdf2d",
    #"plot.kepdfdd",
	"plot.pdfCluster"      
    #"summary.kepdf",
    #"summary.pdfCluster",   
    #"summary.dbs"
)

exportMethods(
    "dbs",
    "pdfCluster",
	"plot",
    "summary",
	"show" 
)

#S3method(plot     , kepdf)
#S3method(plot     , pdfCluster)
#S3method(plot     , dbs)

exportClasses(
     "kepdf",
     "pdfCluster",
     "dbs"
     #"summary.kepdf",
     #"summary.pdfCluster",
     #"summary.dbs"
)

