#exportPattern("^[[:alpha:]]+")
importFrom("graphics", plot)
importFrom("geometry", delaunayn)
import("methods")

export("adj.rand.index",
    "dbs",
    "groups",
    "h.norm",
	"hprop2f",
	"kepdf",
   	"pdfClassification",
	"plot.dbs",
    "plot.kepdf",
	"plot.pdfCluster" ,     
    "summary.kepdf",
    "summary.pdfCluster",   
    "summary.dbs"
)

exportMethods(
    "dbs",
    "pdfCluster",
	"plot",
    "summary",
	"show" 
)

exportClasses(
     "kepdf",
     "pdfCluster",
     "dbs"
)

